/* Стили для подложки */

.overlay {
    /* Скрываем подложку  */
    opacity: 0;
    visibility: hidden;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 20;
    transition: 0.3s all;
}

/* Стили для модальных окон */

.modal {
    /* Скрываем окна  */
    opacity: 0;
    visibility: hidden;

    /*  Установаем ширину окна  */
    width: 100%;
    max-width: 500px;

    /*  Центрируем и задаем z-index */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30; /* Должен быть выше чем у подложки*/

    /*  Побочные стили   */
    box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 30px;
    border-radius: 3px;
    background-color: #fff;
    transition: 0.3s all;
}

/* Стили для активных классов подложки и окна */

.modal.active,
.overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal__content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.modal__title {
    display: flex;
    padding: 8px 0;
    margin-top: -8px;
    font-size: 16px;
    margin-bottom: 16px;
}

.modal__main {
    height: 400px;
    max-height: 400px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}

.modal__control {
    margin: 8px 0;
}

.modal__control-title {
    width: 400px;
}

.modal__control-des {
    height: 210px;
    width: 400px;
}

/* Стили для кнопки закрытия */

.modal__cross {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 20px;
    right: 20px;
    fill: #444;
    cursor: pointer;
}

.form-errors {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    color: red;
    font-size: 14px;
}
