@import './modal.css';
@import './todo.css';

html {
    height: 100%;
    font-size: 16px;
}

body {
    height: 100%;
    min-height: 100%;
    font: normal 400 15px/24px 'Roboto', sans-serif;
    background-color: #f6f7f8;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

div {
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: #336fee;
    outline: none;
    text-decoration: none;
}

/* Стили для кнопок. Мы ведь порядочные разработчики, негоже простые ссылки оставлять */

button {
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    background-color: #414b52;
    margin: 10px;
    color: #fff;
    border-radius: 3px;
}

a:hover {
    color: #6e87e1;
}

img {
    width: 100%;
}

::-ms-clear {
    display: none;
}

::-ms-reveal {
    display: none;
}

.app {
    margin: 0 auto;
    visibility: visible;
}

.container {
    max-width: 1200px;
}

.add-todo {
    padding: 20px 0;
    margin-bottom: 20px;
}

.todo-list {
    display: flex;
    flex-flow: column nowrap;
}

.todo-list__item + .todo-list__item {
    margin-top: 20px;
}
